/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import 'materialize';
 
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: #fffafa;
}

main {
  flex: 1 0 auto;
}

p {
  color: #424242;
}


.item-list{
  display: flex;
  justify-content: right; /* 中央寄せ */
}
.item-list .item{
  box-sizing: border-box;
  padding: 5px 5px;  
}

.site-header{
    background: #fff;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    position: fixed;
    top: 0;
    transition: .5s;
    width: 100%;
}
.site-header.hide{
    top: -63px;
}

.breadcrumb {
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumb li {
  display: inline;/*横に並ぶように*/
  list-style: none;
  font-weight: bold;/*太字*/
}

.breadcrumb li:after {/* >を表示*/
  content: '>';
  padding: 0 0.2em;
  color: #555;
}

.breadcrumb li:last-child:after {
  content: '';
}

.breadcrumb li a {
  text-decoration: none;
  color: #ff8a80;/*色*/
}

.breadcrumb li a:hover {
  text-decoration: underline;
}

.button {
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 12pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 12px;   /* 余白       */
  background    : #00bfa5;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 2px 2px 1px #666666;  /* 影の設定 */
  border        : 2px solid #00bfa5;    /* 枠の指定 */
}

.button:hover {
  background: #ffccbc;
  color: rgb(255, 255, 255);
  border        : 2px solid #ffccbc;    /* 枠の指定 */
}
