html{
  scroll-behavior: smooth;
}

.search_form{
  position: flex;
  max-width: 500px;
}

.container {
  margin: 25px;
  // outline: dashed 1px black;
  /* 水平・垂直方向の中央揃え */
  // display: flex;
  justify-content: center;
  align-items: center;
}

.second_container {
  margin: 25px;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.h_container {
  padding: 3px;
  justify-content: center;
  align-items: center;
  background: #ff8a80;
  color: white;
}

.image-wrap{
  outline: solid 2px #ff9e80;
  position: relative;
  overflow: hidden;
  padding-top: 60%;
  margin: 10px 5px;
}

.image-wrap img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.flex-item {
  flex-basis: 100%;
}



/* タグ検索ボタン */
.tag_button {
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 13pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 12px;   /* 余白       */
  background    : #fbc02d;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 2px 2px 1px #666666;  /* 影の設定 */
  border        : 2px solid #ff9e80;    /* 枠の指定 */
}

.tag_button:hover {
  background: #fdd835;
  color: rgb(255, 255, 255);
}

/* トップへ戻るボタン */
.page_top_btn {
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-weight: bold;
  padding: 0.7em;
  text-align: center;
  background: #ff8a80;
  color: #fff;
  transition: 0.3s0;
  box-shadow    : 2px 2px 1px #666666; 
}

/* マウスオーバー時 */
.page_top_btn:hover {
  background: #ffcdd2;
  color: rgb(255, 255, 255);
}

// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

